#formContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#submitForm{
    width: 200px;
    border: 2px solid;
    padding: 10px;
    border-radius: 15px;
    background-color: #E9ECEF;
}

input{
    margin: 10px;
}